{
    "type": "binary",
    "slave": {{ '"' ~ item ~ '"' }},
    "remotes": [
        {% for host in groups['servers'] %}
            {{ '"' ~ host ~ ':1025:2"' }}
            {%- if not loop.last -%},{% endif -%}
        {% endfor %}
    ],
    "groups": [1],
    "logfile" : "/tmp/test.log",
    "loglevel" : 0,
    "delay": 10
}
